<!DOCTYPE html>
{**
 * myBooking layout
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param string   $description popis stránky
 * @param array    $flashes  flash messages
 *}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="{$description}" n:ifset="$description">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title n:ifset="$title">{$title}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$baseUrl}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="print" href="{$baseUrl}/css/print.css" type="text/css">
	<link rel="shortcut icon" href="{$baseUrl}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="{$baseUrl}/js/netteForms.js"></script>
	{block head}{/block}
</head>

<body>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}
</body>
</html>
